:root {
  --background-color: #1e2b1b;
  --heading-color: #e5f2c9;
  --icon-color: #8fcb9b;
  --countdown-color: #ff9666;
  --date-color: #8fcb9b;
  --location-color: #2c5e36;
  --subheading-color: #cecece;
  --body-text-color: #a8a8a8;
}
